<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        
        <title>Login - Terapeak eBay Marketplace Research</title>

        <link rel="shortcut icon"  th:href="@{/img/terapeak_ico_new.png}" type="image/vnd.microsoft.icon"/>
        <link rel="stylesheet" type="text/css"  th:href="@{/css/login.css}" media="all"/>
        <!--link rel="stylesheet" type="text/css" href="/generated-css/login.css"/-->
        <!--link rel="stylesheet" type="text/css" href="/generated-css/gradients.css"/-->
            <!--[if IE 8]>
                <style>
                    body{background:#00A0D7 ; filter:none;}
                    .login-main{border: 10px solid #A7E4F9;}
                    .login-main .login-content{background: #fff; opacity:0.9;}            
                </style>
            <![endif]-->
            <!--[if gte IE 9]>
                <style type="text/css">
                  body {filter: none;}
                </style>
            <![endif]-->
            
                
            <script type="text/javascript"  th:src="@{/js/jquery.min.js}"></script>
            <script type="text/javascript"  th:src="@{/js/flash_detect.js}"></script>
            <script type="text/javascript"  th:src="@{/js/jquery.placeholder.min.js}"></script>
            <script type="text/javascript"  th:src="@{/js/modernizr.min.js}"></script>
            <script type="text/javascript" language="javascript">
                
                    function check_flash()
                    {
                        document.getElementById('js_enabled').value = '1';
                        if (FlashDetect.installed)
                        {
                            document.getElementById('flash_enabled').value = '1';
                        }
                    }
                
            </script>
            <script type="text/javascript" language="javascript">
                                    
                        function sf() {
                            document.loginForm.username.focus();
                        }
                    
                            </script>
    

</head>
<body onload="sf(); check_flash();">
<script type="text/javascript">
    jQuery(function() {
        jQuery('#username').focus();
        jQuery('.error').slideDown();
        if(!Modernizr.input.placeholder){
                    jQuery('[placeholder]').focus(function() {
                        var input = jQuery(this);
                        if (input.val() == input.attr('placeholder')) {
                            input.val('');
                            input.removeClass('placeholder');
                        }
                    }).blur(function() {
                        var input = jQuery(this);
                        if (input.val() == '' || input.val() == input.attr('placeholder')) {
                            input.addClass('placeholder');
                            input.val(input.attr('placeholder'));
                        }
                    }).blur();
                    jQuery('[placeholder]').parents('form').submit(function() {
                        jQuery(this).find('[placeholder]').each(function() {
                            var input = jQuery(this);
                            if (input.val() == input.attr('placeholder')) {
                                input.val('');
                            }
                        })
                    });
                }
    });
</script>
<div class="container sticky-conatiner">
    <div class="row login-body">   
        <div class="span12">
            <div class="brand-logo login-logo mb-20">
                <a href="http://www.terapeak.com/" class="header_logo"></a>
            </div>
            <div class="login-main">
                <div class="login-content">
                    <h2 class="form-signin-heading">Login to Terapeak</h2>
                    <form   th:object="${userForm}" th:action="@{/login/controller}" method="post" name="loginForm" class="form-signin mb-0">
                     <div class="alert alert-error error arrow-msg" style="" th:if="${ERROR ne null}">Wrong username or password.<br/>
                     <a href="http://www.terapeak.com/help-logging-in">Need Help Logging In?</a></div>
                        <input id="username" name="username" th:field="*{user.userName}"  placeholder="Email" class="input-block-level" tabindex="1" value="" type="text"/>
                        <input name="password" id="password"  th:field="*{user.passWord}" placeholder="Password" class="input-block-level" tabindex="2" type="password"/>
                        <label for="checkbox" class="checkbox pull-left">
                            <input name="r" value="y" id="checkbox" tabindex="3" type="checkbox"/>Keep me signed in on this computer
                        </label>
                        <button type="submit" class="btn btn-info pull-right" name="login" tabindex="4">Login</button>                           
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
            <div class="login-footer">
                <div class="lf-row">
                    <div class="lf-col">
                        <a href="/forgetpassword" id="emailreset" tabindex="5">Email me my password</a>
                    </div>
                    <div class="lf-col lf-last">
                        <a href="http://www.terapeak.com/products/terapeak-for-ebay/?utm_source=data.terapeak.com&amp;utm_medium=user_login" tabindex="6">Sign-up Now!</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <input id="js_enabled" name="js_enabled" value="0" type="hidden"/>
    <input id="flash_enabled" name="flash_enabled" value="0" type="hidden"/>
    <input name="url" value="/?search=1" type="hidden"/>

               
    <div>
            </div>

    <div class="footer">
        <div class="span12">
            <p> &copy;2013 <a href="http://www.terapeak.com/" target="_top" class="header_link">Terapeak.com</a>™ &nbsp;  All Rights Reserved.</p>
            <div class="seals" style="">
	<script type="text/javascript" src="getseal"></script><a href="javascript:vrsn_splash()" tabindex="-1"><img name="seal" src="getseal_001.dat" oncontextmenu="return false;" alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security" border="true"/></a>

	</div>
<script type="text/javascript">
	jQuery(function () {
		if (window.location.protocol === "https:") {
			jQuery('.seals').show();
		}
	});
</script>
        </div>

    </div>
</div>
<!--fixes for item-393 -->
<!--<SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='/elqNow/elqCfg.js'></SCRIPT>
<SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='/elqNow/elqImg.js'></SCRIPT>-->

<script type="text/javascript" language="JavaScript"><!--//
	var elqPPS = '70';
//--></script>

<script type="text/javascript" language="JavaScript" th:src="@{/js/elqscr.js}"></script>


<!--fixes for item-393 -->
<!--<SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript'>//
	window.onload = initPage;
	function initPage(){
		if (this.GetElqCustomerGUID)
			document.forms["loginForm"].elements["elqCustomerGUID"].value = GetElqCustomerGUID();
	}
//</SCRIPT>-->


<script type="text/javascript">
	var _gat = null;
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script><script src="ga.js" type="text/javascript"></script>
<script type="text/javascript">
	if (_gat)

	{

		var pageTracker = _gat._getTracker("UA-79731-1");
		pageTracker._setDomainName(".terapeak.com");
		pageTracker._setAllowLinker(true);
		pageTracker._setAllowHash(false);
		pageTracker._initData();
		pageTracker._trackPageview("/funnel/login_Page");

	}

</script>


</body>
</html>
