/* ::::: https://fonts.googleapis.com/css?family=Lato:300,400,700,700italic ::::: */

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	src: local("Lato Light"), local("Lato-Light"), url('kt3ks9aol4wfr6vas8kncg.woff') format("woff");
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: local("Lato Regular"), local("Lato-Regular"), url('9k-rpmcnxyepm8cnfsh2gg.woff') format("woff");
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: local("Lato Bold"), local("Lato-Bold"), url('wkfqbvft_02e2iwo3yyueq.woff') format("woff");
}
@font-face {
	font-family: "Lato";
	font-style: italic;
	font-weight: 700;
	src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url('hkf_qi1x_noxlxhrhmqyed8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
/* ::::: https://data.terapeak.com/css/bootstrap.css ::::: */

.input-block-level { display: block; width: 100%; min-height: 30px; -moz-box-sizing: border-box; }
audio:not([controls]) { display: none; }
html { font-size: 100%; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
a:hover, a:active { outline: 0px none; }
img { max-width: 100%; vertical-align: middle; border: 0px none; }
button, input, select, textarea { margin: 0px; font-size: 100%; vertical-align: middle; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] { cursor: pointer; }
a { color: rgb(0, 136, 204); text-decoration: none; }
a:hover, a:focus { color: rgb(0, 85, 128); text-decoration: underline; }
[class*="span"] { float: left; min-height: 1px; margin-left: 20px; }
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
.span12 { width: 940px; }
.container { margin-right: auto; margin-left: auto; }
.container:before, .container:after { display: table; line-height: 0; content: ""; }
.container:after { clear: both; }
p { margin: 0px 0px 10px; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { display: inline-block; height: 20px; padding: 4px 6px; margin-bottom: 10px; font-size: 14px; line-height: 20px; color: rgb(85, 85, 85); vertical-align: middle; border-radius: 4px 4px 4px 4px; }
input, textarea, .uneditable-input { width: 206px; }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6); }
input[type="radio"], input[type="checkbox"] { margin: 4px 0px 0px; line-height: normal; }
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] { width: auto; }
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(153, 153, 153); }
.radio, .checkbox { min-height: 20px; padding-left: 20px; }
.radio input[type="radio"], .checkbox input[type="checkbox"] { float: left; margin-left: -20px; }
input, textarea, .uneditable-input { margin-left: 0px; }
input:focus:invalid, textarea:focus:invalid, select:focus:invalid { color: rgb(185, 74, 72); border-color: rgb(238, 95, 91); }
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus { border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px rgb(248, 185, 183); }
.btn { display: inline-block; padding: 4px 12px; margin-bottom: 0px; font-size: 14px; line-height: 20px; color: rgb(51, 51, 51); text-align: center; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; background-color: rgb(245, 245, 245); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230)); background-repeat: repeat-x; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgb(179, 179, 179); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { color: rgb(51, 51, 51); background-color: rgb(230, 230, 230); }
.btn:active, .btn.active {  }
.btn:first-child {  }
.btn:hover, .btn:focus { color: rgb(51, 51, 51); text-decoration: none; background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.btn.active, .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn-info { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: rgb(73, 175, 205); background-image: linear-gradient(to bottom, rgb(91, 192, 222), rgb(47, 150, 180)); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] { color: rgb(255, 255, 255); background-color: rgb(47, 150, 180); }
.btn-info:active, .btn-info.active {  }
button.btn, input.btn[type="submit"] {  }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.pull-right { float: right; }
.pull-left { float: left; }
/* ::::: https://data.terapeak.com/css/loginForm.css?v=1.2 ::::: */

.clear { clear: both; }
.mb-20 { margin-bottom: 20px; }
.mb-0 { margin-bottom: 0px; }
body { color: rgb(51, 51, 51); padding-top: 0px; font-family: 'Lato'; font-style: normal; font-weight: 400; background: radial-gradient(ellipse at center center , rgb(115, 220, 255) 0%, rgb(115, 220, 255) 28%, rgb(0, 160, 215) 100%) no-repeat scroll 0% 0% transparent; }
html { background: none repeat scroll 0% 0% rgb(2, 161, 221); }
html, body { margin: 0px; padding: 0px; height: 100%; }
.sticky-conatiner { min-height: 100%; position: relative; }
.login-body { padding-bottom: 90px; position: absolute; left: 0px; top: 50%; margin-top: -300px; margin-left: -20px; }
.mb-20 { margin-bottom: 20px ! important; }
.login-main { margin: 0px auto; width: 400px; border: 10px solid rgba(255, 255, 255, 0.3); border-radius: 5px 5px 5px 5px; box-shadow: 0px 12px 14px -12px black; }
.login-main .login-content { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9); padding: 10px 20px; }
.form-signin { margin: 0px auto; width: 95%; min-height: 150px; }
.form-signin .input-block-level { margin-bottom: 15px; }
.form-signin-heading { font-family: 'Lato'; font-style: normal; font-weight: 300; font-size: 26px; text-align: center; margin: 0px 0px 22px; line-height: 25px; }
.brand-logo { text-align: center; margin-bottom: 50px; margin-top: 20px; }
.login-footer { width: 380px; margin: 15px auto 0px; padding: 0px 20px; color: rgb(255, 255, 255); }
.lf-row { width: 100%; margin-bottom: 10px; }
.lf-row .lf-col { float: left; width: 49%; }
.lf-row .lf-col a { color: rgb(255, 255, 255); text-decoration: underline; }
.lf-row .lf-col a:hover { text-decoration: none; }
.lf-last { text-align: right; }
.header_logo { margin: 0px auto 10px; width: 291px; height: 181px; background: url('../img/logo-login-white.png') no-repeat scroll 0% 0% transparent; display: block; }
.footer { position: absolute; bottom: 0px; width: 100%; height: 90px; text-align: center; margin-top: 15px; color: rgb(255, 255, 255); font-size: 12px; line-height: 35px; vertical-align: text-bottom; }
.footer a { color: rgb(255, 255, 255); text-decoration: underline; }
.footer a:hover { color: rgb(0, 0, 0); }
.footer .seals img { height: 40px; width: auto; }
